//settings
@spinner-height: 2px;
@spinner-width: 100%;
@moving-part-width: 150px;
@duration: 3s;
@animation-name: bounce-loading;
@background-color: #000000;
@moving-part-color: #f9eb03;
@timing-function: linear;

#spinner {
  width: @spinner-width;
  height: @spinner-height;
  overflow: hidden;
  background-color: @background-color;
  position: absolute;
  top: 0;
}

.loadingProgress {
  width: @moving-part-width;
  height: @spinner-height;
  background-color: @moving-part-color;

  -moz-animation-name: @animation-name;
  -moz-animation-duration: @duration;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: @timing-function;
  -webkit-animation-name: @animation-name;
  -webkit-animation-duration: @duration;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: @timing-function;
  -ms-animation-name: @animation-name;
  -ms-animation-duration: @duration;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: @timing-function;
  -o-animation-name: @animation-name;
  -o-animation-duration: @duration;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: @timing-function;
  animation-name: @animation-name;
  animation-duration: @duration;
  animation-iteration-count: infinite;
  animation-timing-function: @timing-function;
}

@-moz-keyframes @animation-name {
  0% {
    margin-left: -@moving-part-width;
  }

  100% {
    margin-left: @spinner-width;
  }
}

@-webkit-keyframes @animation-name {
  0% {
    margin-left: -@moving-part-width;
  }

  100% {
    margin-left: @spinner-width;
  }
}

@-ms-keyframes @animation-name {
  0% {
    margin-left: -@moving-part-width;
  }

  100% {
    margin-left: @spinner-width;
  }
}

@-o-keyframes @animation-name {
  0% {
    margin-left: -@moving-part-width;
  }

  100% {
    margin-left: @spinner-width;
  }
}

@keyframes @animation-name {
  0% {
    margin-left: -@moving-part-width;
  }

  100% {
    margin-left: @spinner-width;
  }
}